<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PeopleVault</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/person">All Persons</a>
                <a class="nav-link" href="/person/new">Add New Person</a>
            </div>
        </div>
    </div>
</nav>