<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Create Person</h1>
        <div class="col-6 offset-3">
            <form action="/person" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="person[name]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="age">Age</label>
                    <input class="form-control" type="number" id="age" name="person[age]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="gender">Gender</label>
                    <select class="form-select" aria-label="Default select example" id="gender" name="person[gender]" required>
                        <option selected>Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mobileNumber">Mobile Number</label>
                    <input class="form-control" type="text" id="mobileNumber" name="person[mobileNumber]" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>